DB_FILE = db.json
PORT=4000
HOST=127.0.0.1
HREF=http://localhost:4000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


# mainnet address: "https://node1.irys.xyz"
# devnet address: "https://devnet.irys.xyz"
RPC_URL="https://api.devnet.solana.com" # RPC with DAS support
UPLOADER_URL='https://devnet.irys.xyz'

DATABASE_URL = "mongodb+srv://your_mongodb_user:your_mongodb_password@your_mongodb_cluster/?retryWrites=true&w=majority&appName=Flair"

GENESIS_HASH="_GENESIS_"

ZKP_JWT_SECRET = "COMMIT generation jwt secret here"

# enter pinata jwt here
PINATA_JWT=""
GATEWAY_URL=""

# allowed max size for uploading of the models
BASEMODEL_MAX_SIZE = 20

# temporary upload directory
MULTER_URL = "/tmp/uploads"